discord.py==1.5.1
pendulum==2.1.0
motor==2.1.0
git+https://github.com/PythonistaGuild/buttons.git
Pillow>=7.1.1
psutil==5.7.0
mcstatus==3.1.1
py-cpuinfo==6.0.0
git+https://github.com/NeKitDS/gd.py@c8220adfe04aa6babc060fe0de7ab190c061c29b
