discord.py==1.2.5
pendulum==2.0.5
motor==2.0.0
git+https://github.com/PythonistaGuild/buttons.git
Pillow>=7.1.1
psutil==5.6.6
mcstatus==2.3.0
py-cpuinfo==5.0.0
git+https://github.com/NeKitDS/gd.py@c09354596cea6ca847164cb519add468074573d3
